<div class="dashboard">
    <div class="title-container">
        <h2>Painel de pensamentos</h2>
        <a href="/toughts/add" class="btn">Criar pensamento</a>
    </div>

    <h3>Seus pensamentos</h3>
    <ul>
        {{#each toughts}}
        <li>
            <span class="label">{{this.title}}</span>
            <span class="actions">
                <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
                <form action="/toughts/delete" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir" class="btn">
                </form>
            </span>
        </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
    <p>Sem pensamentos para mostrar, <a href="/toughts/add">clique aqui</a> para criar um agora mesmo!</p>
    {{/if}}
</div>